<html ng-app="countryApp">
  <head>
    <meta charset="utf-8">
    <title>CountryApp</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script>
      var countryApp = angular.module("countryApp", []);
countryApp.controller('CountryCtrl', ['$scope', '$http', function ($scope, $http){
      $http.get('http://127.0.0.1:8888/countries.json').success(function(data){
      $scope.countries = data;
      }).
      error(function(status){
      console.log("cannot fetch countries.json");
      console.log(status);
      });
      }]);
    </script>
  </head>
  <body ng-controller="CountryCtrl">
    Search:<input ng-model="query" type="text"/>
    <table>
      <tr>
	<th>Country</th>
	<th>Population</th>
      </tr>
      <tr ng-repeat="country in countries | filter:query">
	<td>{{country.name}}</td>
	<td>{{country.population}}</td>
      </tr>
    </table>
  </body>
</html>

      
    
